<h1><%=@team.name%></h1>
<h3>Team Motto: <%=@team.motto%></h3>
<br>
<%@heroes.each_with_index do |hero, index|%>
  <h3>Hero <%=index+1%>:</h3>
  <p>name: <%=hero.name%></p>
  <p>power: <%=hero.power%></p>
  <p>bio: <%=hero.bio%></p>
  <br>
<%end%>
